<?xml version="1.0"?>
<config>
    <modules>
        <Ifuturz_Adminlogin>
            <version>0.1.0</version>
        </Ifuturz_Adminlogin>
    </modules>
    <global>
        <helpers>
            <adminlogin>
                <class>Ifuturz_Adminlogin_Helper</class>
            </adminlogin>
        </helpers>
		<models>
			<adminlogin>
				<class>Ifuturz_Adminlogin_Model</class>
			</adminlogin>			
		</models>
		<resources>
            <adminlogin_setup>
                <setup>
                    <module>Ifuturz_Adminlogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adminlogin_setup>
            <adminlogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adminlogin_write>
            <adminlogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adminlogin_read>
        </resources>
		<events>
			<controller_action_predispatch>
				<observers>
					<adminlogin_install>
						<class>Ifuturz_Adminlogin_Model_Observer</class>
						<method>checkInstallation</method>
					</adminlogin_install>					
				</observers>
			</controller_action_predispatch>
		</events>	
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ifuturz>
                                            <title>Ifuturz</title>
                                        </ifuturz>
                                        <adminlogin>
                                            <title>Adminlogin management</title>
                                        </adminlogin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <adminlogin>
                    <file>adminlogin.xml</file>
                </adminlogin>
            </updates>
        </layout>
      </adminhtml> 
      <admin>
        <routers>
            <adminlogin>
                <use>admin</use>
                <args>
                    <module>Ifuturz_Adminlogin</module>
                    <frontName>adminlogin</frontName>
                </args>
            </adminlogin>
        </routers>
    </admin>
</config>